body {
    background-color:rgb(36, 110, 206);
    color:white;
    margin: 0;
}
.bgrunnur {
    background-image: linear-gradient(rgb(255, 255, 0), rgb(255, 255, 150));
    color:black;
}
header {
    padding:2em;
}
section {
 
    line-height: 140%;
    padding: 2em;
    font-family: 'Titillium Web', sans-serif;
}
footer {
 
}
ul{
    list-style-type: none;
}
.list {
    display:flex;
    flex-flow:row;
    justify-content: space-around;    
    line-height: 150%;
}
.listheader {
    vertical-align: baseline;
    display: inline-block;
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
}
.verkheader {
    color:yellow;
}
.bak {
    padding-left: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}
.container {
    max-width: 60em;
    max-height: 30em;
    margin: 0 auto;
}
.col-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.transparent {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
}
a:hover {   
    color:rgb(245, 245, 98);
    text-decoration: none;
}
a:visited {
    color:white;
    text-decoration: none;
}
a:link {
    color:white;
    text-decoration: none;
}
a:active {
    color:yellow;
}