@mixin gradient {
    background-image: linear-gradient(rgb(187,0,0),rgb(255,0,0))
}
body {
    @include gradient;
    //background-color:rgb(187, 0, 0);
    //background-color:gradient($color);
    color:yellow;
    max-width:60em;
    margin: 0 auto;
    padding: 1em;
}

.bgrunnur {
    background-image: linear-gradient(rgb(255, 255, 0), rgb(255, 255, 150));
    color:black;
}
header {
    padding:2em;
}
.headerimg {
    align-self: auto;
}
h1 {
    font-size: 200%;
}
section {
    line-height: 160%;
    padding: 2em;
    font-family: 'Titillium Web', sans-serif;
}
ul{
    list-style-type: none;
}
.list {
    display:flex;
    flex-flow:row;
    justify-content: space-around;    
    line-height: 150%;
}
.listheader {
    vertical-align: baseline;
    display: inline-block;
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
}
.verkheader {
    color:yellow;
}
.bak {
    padding-left: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}
.container {
    max-width: 60em;
    margin: 0 auto;
}
.col-2 {
    display:grid;
    grid-template-columns: 1fr;
}
.col-3 {
    display:grid;
    grid-template-columns: 1fr;
}
.transparent {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
}
a:hover {   
    color:rgb(245, 245, 98);
    text-decoration: none;
}
a:visited {
    color:white;
    text-decoration: none;
}
a:link {
    color:white;
    text-decoration: none;
}
a:active {
    color:yellow;
}
.list2 {
    display:flex;
    flex-flow:row;
    justify-content: center;    
    //background-color:rgb(187, 0, 0);
    max-height: 2.1em;
}
.list2 a {
    display:block;
    padding: 0.5em;
    background-color:yellow;
    color:yellow;
    border-right:1px solid rgb(36, 110, 206);
}
.list2 a:hover, .list2 a:active {
    color:black;
    background-color:rgb(36, 110, 206);
}
.list2 a:visited, .list2 a:link {
    color: rgb(36, 110, 206);
}
.list2 a:last-child {
    border:none;
}
.mynd {
    float:right;
    margin-left: 2em;
}
.em2 {
    margin-right:2em;
}
img {
    max-width: 100%;
    height: auto;
}
.topnav a {
    padding-right: 4em;
}
.topnav2 a {
    padding-right: 4em;

}
.icon-patch:before {
    font-size: 20px;
    padding-right: 0.25em;
}
.icon-home:before {
    padding-right:0.25em;
}
.icon-question:before {
    padding-right:0.25em;
}
.icon-user-tie:before {
    padding-right:0.25em;
}
.GearSvg {
    padding-top:0.5em;
    width:50px;
    height:50px;
    margin: 0 auto;
}
.topmenu {
    display: block;
    position: fixed;
    top: 3em;
    right: -29em;
    z-index: 980;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all .5s ease;
    background-color: rgb(187,0,0);
}
/*
.menuinput {
    display:none;
}
*/
.menuinput:checked ~ .topmenu {
    position: fixed;
    top: 3em;
    right: -4em;
    z-index: 980;
    transition: all .5s ease;
}
.menuinput:checked ~ .menulabel {
    border-radius: 20px;
    //border: 2px solid #73AD21;
    background: rgba(255, 255, 0, 0.808);
    height: 2em;
    padding-left:0.8em;
}
.menulabel {
    position: fixed;
    top: 0em;
    right: 0em;
    width: 2.5em;
    height: 1.6em;
    color: #0B3E7A;
    font-size: 1.5em;
    text-align: left;
    padding: .5em;
    transition: all .4s ease;
    z-index: 999;
    
}
*, ::before, ::after {
    box-sizing: border-box;
}
.topmenu a {
font-size:20px;
}
.topmenu a.current {
    color: black;
}
main {
    display:grid;
    grid-template-columns:1fr ;
    grid-gap: 2em; 
}
/* =======================================
*  ad  *
======================================== */
#ad-1 {
	width: 250px;
	height: 500px;
	margin: 0 1em;
    background-color:white;
    color:red;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
    box-shadow: 0px 0px 6px #000;
    border: solid red;
    padding:1em;
}
.free {
    height: 10em;
    padding-left:1.5em;
    padding-top:2em;
    position:relative;
    animation-name:test;
    transition:transform 2s;
    animation-iteration-count: infinite;
}
@keyframes test {
    100% {transform:scale(2.2);}
}

#ad-1 a:link {
    position:relative;
    text-align: center;
    display:block;
    height:90px;
    padding:1em;
    color:red;
    background-color: rgb(221, 0, 0);
    border-radius:5px;
    border:1px solid #fff;
    animation:slide 14s infinite;
    right:15em;
}
@keyframes slide {
20% {right:-20cem;}
80% {right:0em;}
100% {right:100em;}
}
.image {
    position: absolute;
    margin-top:2.5em;
}

/* =======================================
*  table  *
======================================== */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;

    width: 100%;
    table-layout: fixed;
    text-align:center;
}
caption {
    border: 1px solid #c6c7cc;
    padding: 10px 15px;
    background: #395870;
    color: #fff;
}
table th {
    color:yellow;
    letter-spacing: .05em;
    padding: 0.5em;
}
table tr {
    background: rgb(200,0,0);
}
tbody tr:nth-child(2n+1) {
    background: rgb(221, 0, 0);
}
table td {
    font-style:italic;
    padding:0.7em;
}
th, td {
  border: 1px solid #c6c7cc;
  
}
/* =======================================
*  table  *
======================================== */
form {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    
    padding:1em;
    margin-top:1em;
    max-width: 30em;
    height:500px;
  }
.sign input, .sign select, .sign textarea {
    border: 1px solid black;
    border-radius: 5px;
    color:#444;
    display: inline;
    margin: 5px 0 1em 0;
    padding: 5px 8px;
}
.sign input[type="text"], .sign input[type="tel"], .sign input[type="email"], .sign textarea {
    width: 100%;
}
.sign textarea {
    height:10em;
}
legend {
    font-weight:bold;
    font-family:"Times New Roman", Times, serif;
}




/* =======================================
*  myndvinnsla  *
======================================== */

/*  ========================================
Viðmið - breakpoints 30em = 480px + 
========================================*/

@media screen and (min-width: 30em) {
    .imagemiddle {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

/*  ========================================
Viðmið - breakpoints 37.5em = 600px + 
========================================*/

@media screen and (max-width: 37.5em) {
    .topnav2 a {
    display:block;
    padding-top:0.5em;
    padding-left:0.4em;
    }
    .topmenu {
        display: block;
        position: fixed;
        top: 5em;
        right: -10em;
        z-index: 980;
        padding: 0;
        margin: 0;
        list-style: none;
        transition: all .5s ease;
        background-color: rgb(187,0,0);
    }
    .menuinput:checked ~ .topmenu {
        position: fixed;
        top: 5em;
        right: -4em;
        z-index: 980;
        transition: all .5s ease;
    }
}
@media screen and (min-width: 37.5em) {
    .imagemiddle {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

  /* ========================================
Viðmið - breakpoints 48em = 760px +
======================================== */

@media screen and (min-width: 48em) {  
    .imagemiddle {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        display:grid;
        grid-template-columns:3fr 1fr ;
        grid-gap: 2em; 
    }
}
@media screen and (max-width: 48em) {  
    .hidehr {
        display:none;
    }
}

      /* ========================================
  Viðmið - breakpoints 60em = 960px +
  ======================================== */

@media screen and (min-width: 60em) { 
    
    .col-2 {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .col-3 {
        display:grid;
        grid-template-columns: 1fr 2fr;
    }
  }
  @media screen and (max-width: 600px) {
    table thead {
     display:none;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
    }
  }
  


  /* ========================================
  Viðmið - breakpoints 80em = 1280px +
  ======================================== */
  @media screen and (max-width: 80em) { 
    .topnav {
        display:none;
    }
  } 
  @media screen and (min-width: 80em) { 
    .topmenu {
        display:none;
    }

  }