* {
    box-sizing: border-box;
}
body {
    background-color:rgb(155, 106, 32);
}
/*drffdef*/
header {
    grid-area: header;
    text-align:center;
    background-color:#00CED1;
    font-family: 'Noto Serif', serif;
}
.topmenu {
    grid-area: topmenu;
    background-color:#00CED1;
}
.content {
    grid-area: content;
   
}

    


/* template */
.left {
    grid-area:left;
  
    padding: 1em;
    font-size: 120%;
    line-height: 140%;
}
.middle {
    grid-area:middle;
    padding: 3em;
    padding-top: 4em;
    font-size:120%;
    line-height: 140%;
    background-color:#48D1CC;
}
.right {
    grid-area:right;
 
    padding: 1em;
    font-size:120%;
    line-height: 140%;
    background-color:rgb(119, 241, 241);
}
.content {
    display:grid;
    grid-template-areas:
    "left middle middle"
    "right middle middle";
    grid-template-columns: 2fr 3fr 2fr;
    background-color:rgb(119, 241, 241);
    font-family: 'Muli', sans-serif;
}


body {
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "topmenu";
        max-width: 100em;
        padding-top: 4em;
        margin:0 auto;  
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaa*/
.boxxx{
    border:1px solid black;
    padding:1em;
}
.navs {
    display:flex;
    flex-flow:row;
    justify-content: space-around;    
    list-style-type:none;
    
}

h1 {
    font-weight: 300;
    font-size: 4em;
}