h1 {
    border: 3px solid rgb(119, 194, 6);
}

h2 {
    text-align: center;
    
}

div.box1 {
    border: 5px solid  red;
    padding: 1cm;
    color: red;
    margin-bottom: 2em;   
}
div.box2 h1 {
    color: blue;
    border: 4px dashed blue;
    padding: 1em;
}

div.broc li {
    display: block;
    padding: 1em;
    margin: 1em;
    border: 4px dashed green;
}
.crock li {
    display:inline;
    border: 4px dashed darkblue;
    color: blue;
    padding: 1em;
    margin: 1em;
}

.crick li {
    display: inline-block;
    border: 4px dashed red;
    color: black;
    padding: 1em;
    margin: 1em;
}