<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <nav>
      <div class="topmenu">
      <input type="checkbox" id="toggle" class="menuinput">
      <label for="toggle" class="menulabel">
        <img src="../assets/images/menu.svg" height="20px" width="20px">
      </label>
      <div class="topmenu">
        {% include navigational.html %}
      </div>
    </div>
    </nav>
    {% include navigational.html %}
    <hr class="hidehr">
    <main>
      {{ content }}
    </main>
    <hr class="hidehr">
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>